<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Photo Viewer - Simserver</title>
  <style>
    body {
      background-color: #f2f2f2;
      font-size: 16px;
      color: #333;
    }

    body+body * {
      margin: 0;
      padding: 0;
    }

    #url {
      width: 80%;
      font-size: larger;
    }

    #viewMode {
      width: 17%;
      font-size: larger;
    }

    #left {
      float: left;
      background-color: #fff;
      width: 20%;
      display: inline-block;
      overflow: hidden;
    }

    #left ul {
      margin: 0;
      padding: 0;
    }

    #left li {
      margin: 5 0;
      list-style: none;
      cursor: pointer;
      padding: 5px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    .curli {
      background-color: #aaa;
    }

    #left li:hover {
      background-color: #f2f2f2;
    }

    #right {
      min-height: 100px;
      float: right;
      background-color: #fff;
      width: 78%;
      display: inline-block;
      padding: 2px;
      box-sizing: border-box;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    #right img {
      margin: 0 auto;
    }

    .imgWidth1st {
      width: 98vw;
    }

    .imgHeight1st {
      height: 98vh;
    }

    .leftS {
      height: 0 !important;
      width: 0 !important;
    }

    .rightL {
      height: 100% !important;
      width: 100% !important;
    }
  </style>
</head>

<body>
  <div id="topNav">
    <input id="url" value="/" onblur="updateData(this)" />
    <select id="viewMode" multiple onchange="viewModeChange(this)">
      <option value="Height">Height 1st</option>
      <option value="Width">Width 1st</option>
      <option value="img_2">multiple</option>
      <option value="doubleFolder">double folder</option>
    </select>
  </div>

  <div class="all">
    <div id="left">
      <ul id="leftUl"></ul>
    </div>
    <div id="right" onmouseleave="LargePhotoMode(false)" onmouseenter="LargePhotoMode(true)">
      <img id="show" name="showImgs" class="imgHeight1st" src="#" onclick="nextImg()">
    </div>
  </div>
  <script>
    var baseUrl = window.location.protocol + "//" + window.location.host;
    var fileList = [];
    var configStack = {
      "folderMode": "1",
      "showIndex": 0
    };
    if (window.location.search.length !== 0) {
      var path = window.location.search.indexOf("path") + 5;
      if (window.location.search.indexOf("&", path) === -1) {
        document.getElementById("url").value = "/" + window.location.search.substring(path);
      } else {
        document.getElementById("url").value = "/" + window.location.search.substring(path, window.location.search.indexOf("&", path));
      }
    }

    function updateData(u) {
      var lU = document.getElementById("leftUl");
      lU.innerHTML = "";
      configStack.showIndex = 0;
      fileList = [];
      if (configStack.folderMode === "1") {
        client.ImgList(baseUrl + "/api/dl/ls/" + u.value, "");
      } else {
        const fs = client.FolderList(baseUrl + "/api/dl/ls/" + u.value);
        for (let i = 0; i < fs.length; i++) {
          const element = fs[i];
          var curFileListLen = fileList.length;
          client.ImgList(
            baseUrl + "/api/dl/ls/" + u.value + (u.value.endsWith("/") ? "" : "/") + element.Name,
            element.Name + (element.Name.endsWith("/") ? "" : "/")
          );
          while (curFileListLen < fileList.length) {
            fileList[curFileListLen].Name = element.Name + (element.Name.endsWith("/") ? "" : "/") + fileList[curFileListLen].Name;
            curFileListLen++;
          }
        }
      }
      // update chain
      updateImg(0);
      viewModeChange(document.getElementById("viewMode"))
    }

    function updateImg(i) {
      configStack.showIndex = i;
      const urlValue = document.getElementById("url").value;
      if (fileList[i] === undefined || fileList[i] === null) {
        return;
      }
      document.getElementById("show").src = baseUrl + "/api/dl/n/" + urlValue + (urlValue.endsWith("/") ? "" : "/") + fileList[i].Name;
      document.getElementById("show").style.height = window.innerHeight;
      var lis = document.getElementById("left").getElementsByTagName("li");
      for (let i = 0; i < lis.length; i++) {
        lis[i].setAttribute("class", i === configStack.showIndex ? "curli" : "");
      }
    }

    function nextImg() {
      configStack.showIndex = configStack.showIndex < fileList.length ? configStack.showIndex + 1 : 0;
      updateImg(configStack.showIndex);
    }

    function LargePhotoMode(b) {
      const attrs = b ? ["leftS", "leftS", "rightL"] : ["", "", ""];
      document.getElementById("topNav").setAttribute("class", attrs[0]);
      document.getElementById("left").setAttribute("class", attrs[1]);
      document.getElementById("right").setAttribute("class", attrs[2]);
    }

    function viewModeChange(a) {
      let sOps = [...a.options];
      let sSelectedOps = [...a.selectedOptions];
      sOps.filter(x => sSelectedOps.indexOf(x) === -1).forEach((e) => {
        switch (e.value) {
          case "Width":
          case "Height":
            const clsName = e.value === "Width" ? "imgWidth1st" : "imgHeight1st";
            for (let i = 0; i < document.getElementsByName("showImgs").length; i++) {
              const element = document.getElementsByName("showImgs")[i];
              utils.removeClass(element, clsName);
              utils.removeClass(document.getElementById("right"), clsName);
            }
            break;
          case "img_2":
            for (let i = 1; i < document.getElementsByName("showImgs").length;) {
              const element = document.getElementsByName("showImgs")[i];
              element.remove();
            }
            break;
          case "doubleFolder":
            configStack.folderMode = "1";
            break;
          default:
            break;
        }
      });
      sOps.filter(x => sSelectedOps.indexOf(x) > -1).forEach(e => {
        switch (e.value) {
          case "Width":
          case "Height":
            const clsName = e.value === "Width" ? "imgWidth1st" : "imgHeight1st";
            for (let i = 0; i < document.getElementsByName("showImgs").length; i++) {
              const element = document.getElementsByName("showImgs")[i];
              utils.addClass(element, clsName);
              utils.addClass(document.getElementById("right"), clsName);
            }
            break;
          case "img_2":
            const longUrl = baseUrl + "/api/dl/n/" + document.getElementById("url").value + (document.getElementById("url").value.endsWith("/") ? "" : "/");
            document.getElementsByName("showImgs")[0] = longUrl + fileList[0].Name;
            for (let i = 1; i < document.getElementsByName("showImgs").length; i++) {
              document.getElementsByName("showImgs")[i].remove();
            }
            for (let i = 1; i < fileList.length; i++) {
              var n = document.createElement("img");
              n.name = "showImgs";
              n.src = longUrl + fileList[i].Name;
              document.getElementById("right").appendChild(n);
            }
            break;
          case "doubleFolder":
            configStack.folderMode = "2";
            break;
          default:
            break;
        }
      })
    }

    const http = {
      Get: (theUrl) => {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", theUrl, false); // false for synchronous request
        xmlHttp.send(null);
        return xmlHttp.responseText;
      }
    }

    const client = {
      ImgList: (url, prefix) => {
        const imgExts = ["png", "jpg", "jpeg", "webp", "gif", "bmp", "avif", "heif", "svg"];
        var data = JSON.parse(http.Get(url));
        if (data["fileList"] === null) {
          return;
        }
        var lU = document.getElementById("leftUl");
        data["fileList"].sort(client.sortFunction);
        for (let file_i = 0; file_i < data["fileList"].length; file_i++) {
          let file = data["fileList"][file_i];
          for (let ei = 0; ei < imgExts.length; ei++) {
            if (file.Name.toLowerCase().endsWith(imgExts[ei])) {
              var n = document.createElement("li");
              n.setAttribute("i", file_i.toString());
              n.innerText = prefix + file.Name;
              n.setAttribute("onclick", "updateImg(" + fileList.length + ")");
              lU.appendChild(n);
              fileList.push(file);
              break;
            }
          }
        }
      },
      FolderList: (url) => {
        var data = JSON.parse(http.Get(url));
        if (data["folderList"] === null) {
          return [];
        }
        data["folderList"].sort(client.sortFunction);
        return data["folderList"];
      },
      sortFunction: (a, b) => a.Name.length !== b.Name.length ? (a.Name.length < b.Name.length ? -1 : 1) : (a.Name.localeCompare(b.Name) ? a : b),
    };
    const utils = {
      hasClass: (ele, cls) => {
        return ele.className.match(new RegExp("(\\s|^)" + cls + "(\\s|$)"));
      },
      addClass: (ele, cls) => {
        if (!utils.hasClass(ele, cls)) ele.className += " " + cls;
      },
      removeClass: (ele, cls) => {
        if (utils.hasClass(ele, cls)) {
          var reg = new RegExp("(\\s|^)" + cls + "(\\s|$)");
          ele.className = ele.className.replace(reg, " ");
        }
      }
    };
  </script>
</body>

</html>